*:focus{
    outline: none;
}
.acc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    border: 2px solid #FFB03B;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:400px;
    overflow: hidden;
    text-align:center;
}
img{
    box-sizing: border-box;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0;
    margin-top:10px;
    border: 5px solid #FFB03B;
    padding: 3px;
    background-color: white;
}
input[type="text"],input[type="email"]{
    display: block;
    box-sizing: border-box;
    background: none;
    color: #FFB03B;
    margin-bottom: 30px;
    margin-left:200px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #fca31f;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="text"]{
    margin-top: 25px;
}
input[type="text"]:focus,input[type="email"]:focus{
    border-bottom: 2px solid #FFB03B;
    border-bottom-right-radius: 20px;
    color: #FFB03B;
    transition: 0.2 ease;
}
button{
    border:1px solid #FFB03B;
    background-color: white;
    color: #ff9900;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
}
button:hover{
    transform: scale(1.1);
}
input[type="file"]{
    display: none;
}
label{
    box-sizing: border-box;
    font-size: 20px;
    background-color: white;
    color: white;
    border: 1px solid #FFB03B;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}
label:hover{
    background-color: #FFB03B;
    color: black;
}
p{
    width: 70px;
    height: 36px;
    font-size: 14px;
    border-radius: 10px;
    line-height:36px;
    text-align: center;
    background-color:#FFB03B;
}