/*大小顏色*/
.sidebar{
  position: fixed;
  background: #1b1b1b;
  width: 250px;
  height: 100%;
  left: 0;
  z-index: 1;
}

/*標題*/
.sidebar .text{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  color: #ffffff;
  background:#1e1e1e;
  letter-spacing: 1px;
}

nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li{
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul ul{
  position: static;
  display: none;
}

nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul .con-show.show2{
  display: block;
}
nav ul .rep-show.show3{
  display: block;
}

nav ul ul li{
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}

nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}





.pf-b {
    width: 80%;
    margin-left: 260px;
  }
  table {
    border-spacing: 0;
    width: 100%;
  }
  tr {
    text-align: center;
    height: 40px;
  }
  th {
    padding: 10px;
  }
  table tbody tr:nth-child(odd){
    background-color: #dddddd
  }
  table thead {
    background-color: #034c96;
    color: white;
  }
  table thead th:first-child {
    border-radius: 5px 0 0 0;
    border: 1px solid #034c96;
  }
  table thead th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #034c96;
  }
  table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  
  table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }
  .pf-b .contact-b-plus a{
    position: absolute;
    right: 40px;
    top: 5px;
    font-size: 30px;
  }


  img{
    width: 150px;
  }
  

  /* about-us--b */

  .new-post-title{
    white-space: nowrap;
  }

  .single-blog-area .single-blog-content1 label1 {
    display: inline-block;
    color: #000000;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 100px; }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-blog-area .single-blog-content1 label1  {
        margin-bottom: 20px; 
        margin-left: 100px;} }

  .single-blog-area .single-blog-content1 > p {
    line-height: 2;
    margin-bottom: 70px;
    margin-left: 100px; }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-blog-area .single-blog-content1 > p {
        margin-bottom: 30px;
        margin-left: 100px; } }

        .single-blog-area .single-blog-content1 .post-meta p {
          font-size: 9px;
          text-transform: uppercase;
          margin-bottom: 0;
          letter-spacing: 3px;
          display: inline-block;}
          .single-blog-area .single-blog-content1 .post-meta p:first-of-type {
            margin-right: 30px; }
          .single-blog-area .single-blog-content1 .post-meta p a {
            font-size: 9px;
            text-transform: uppercase;
            color: #000000;
            letter-spacing: 3px; }
        .single-blog-area.blog-style-2 .single-blog-content1 > p {
          margin-bottom: 30px; }

.single-blog-content1 .new-post-content textarea{
  margin-left: 120px;
}


.single-catagory-area1 {
  position: relative;
  z-index: 1; 
  margin-left: 130px;}

.single-catagory-area1 .dormitory-img{
  width: 500px;
}

.single-button{
  margin-left: 400px;
}
.single-button button{
  border:1px solid #a2a2a2;
  background-color: white;
  color: #3d3d3d;
  height: 30px;
  width: 100px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s;
}

input[type="file"]{
  display: none;
}
label{
    box-sizing: border-box;
    font-size: 20px;
    background-color: white;
    color: #000000;
    border: 1px solid #a2a2a2;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}
label:hover{
    background-color: #a2a2a2;
    color: black;
}


  /* 菜單 */
h5{
  margin-left: 120px;
}

.menu-restaurant{
  width: 25%;
  left: 120px;
  right: 10px;
  float: left;
  padding: 15px;
  position: relative;
}
.menu-restaurant .menu-title{
  float: left;
  font-family: Montserrat,arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ff5821;
}
.menu-restaurant .menu-line{
  position: absolute;
  bottom: 6px;
  border-bottom: 1px dotted rgba(0,0,0,.3);
  margin-left: .6rem;
  margin-right: .6rem;
}

.menu-restaurant .menu-price {
  color: #717f86; /* 價格顏色 */
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
}
.menu-restaurant .menu-subtitle{
  display: block;
  float: left;
  color: #b1b1b1;
  font-size: 1.2rem;
}
.menu-restaurant span.clearfix{
  position: relative;
  display: block;
}

.index-text{
  margin-left: 500px;
}
.index-text p{
  font-size: 50px;
}

.contact-b-button button{
  border:1px solid #a2a2a2;
  background-color: white;
  color: #3d3d3d;
  height: 35px;
  width: 100px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s;
  margin-top: 20px;
  margin-left: 750px;
}
.contact-b-button button:hover{
  transform: scale(1.1);
}


/* 公設借閱 */

.publicf-tittle1{
  width:100%;
  height: 60px;
  font-size: 36px;
  border: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  line-height:60px;
  text-align: center;
  background-color: #a2a2a2;
}
.publicf-2px-text-collor1{
  width: 70px;
  height: 36px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:	#a2a2a2;
}
.publicf-4px-text-collor1{
  width: 140px;
  height: 36px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:	#a2a2a2;
}
.publicf-4px-text-collor1 p{
  margin-top: 7px;
  font-size: 20px;
  color: #ffffff;
}

.publicf-4px-textarea-collor1{
  width: 96.5%;
  height: 36px;
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:	#a2a2a2;
}
.publicf-4px-textarea-collor1 p{
  margin-top: 6px;
  font-size: 22px;
  color: #ffffff;
}


/* 意見信箱 */
.opinion-tittle1{
  width:100%;
  height: 60px;
  font-size: 36px;
  border: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  line-height:60px;
  text-align: center;
  background-color: #a2a2a2;
}
.opinion-2px-text-collor1{
  width: 70px;
  height: 36px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:	#a2a2a2;
}
.opinion-2px-text-collor1 p{
  margin-top: 7px;
  font-size: 20px;
  color: #ffffff;
}
.opinion-4px-text-collor1{
  width: 140px;
  height: 36px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:	#a2a2a2;
}
.opinion-4px-text-collor1 p{
  margin-top: 7px;
  font-size: 20px;
  color: #ffffff;
}
.opinion-4px-textarea-collor1{
  width: 96.5%;
  height: 36px;
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:	#a2a2a2;
}
.opinion-4px-textarea-collor1 p{
  margin-top: 6px;
  font-size: 22px;
  color: #ffffff;
}

/* 我要報修 */

.repair-tittle1{
  width:100%;
  height: 60px;
  font-size: 36px;
  border: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  line-height:60px;
  text-align: center;
  background-color: #a2a2a2;
}
.repair-2px-text-collor1{
  width: 70px;
  height: 36px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:		#a2a2a2;
}
.repair-2px-text-collor1 p{
  margin-top: 7px;
  font-size: 20px;
  color: #ffffff;
}
.repair-4px-text-collor1{
  width: 140px;
  height: 36px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:		#a2a2a2;
}
.repair-4px-text-collor1 p{
  margin-top: 7px;
  font-size: 20px;
  color: #ffffff;
}
.repair-4px-textarea-collor1{
  width: 96.5%;
  height: 36px;
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  line-height:36px;
  text-align: center;
  background-color:		#a2a2a2;
}
.repair-4px-textarea-collor1 p{
  margin-top: 6px;
  font-size: 22px;
  color: #ffffff;
}

/*公佈欄CSS*/
.billboard-public a label{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: transparent;
  border-style: solid;
  background-color: #fad2d2;
  font-size: 20px;
  text-indent: 10px;
  text-align: left;
  line-height: 60px;
}


/* 最新消息 */

.single-blog-area2 .single-blog-content .new-post-title p a {
  display: inline-block;
  color: #000000;
  font-size: 35px;
  margin-bottom: 30px; 
  margin-left: 50px;
  margin-top: 0px;
}
.single-blog-area2 .single-blog-content .viewers{
  text-align: right;
}

.single-blog-area2 .single-blog-content label1 {
  display: inline-block;
  color: #000000;
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 100px; }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-area .single-blog-content label1  {
      margin-bottom: 20px; 
      margin-left: 100px;} }

.single-blog-area2 .single-blog-content > p {
  line-height: 2;
  margin-bottom: 70px;
  margin-left: 100px; }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-area2 .single-blog-content > p {
      margin-bottom: 30px;
      margin-left: 100px; } }

      .single-blog-area2 .single-blog-content .post-meta p {
        font-size: 9px;
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 3px;
        display: inline-block;}
        .single-blog-area2 .single-blog-content .post-meta p:first-of-type {
          margin-right: 30px; }
        .single-blog-area2 .single-blog-content .post-meta p a {
          font-size: 9px;
          text-transform: uppercase;
          color: #000000;
          letter-spacing: 3px; }
      .single-blog-area2.blog-style-2 .single-blog-content > p {
        margin-bottom: 30px; }

.single-blog-area2 .single-blog-content .new-post-content textarea{
  margin-left: 120px;
}

.single-catagory-area1 {
position: relative;
z-index: 1; 
margin-left: 130px;}

.single-catagory-area2 .dormitory-img{
width: 500px;
}

.single-blog-area2 .single-button{
  margin-left: 400px;
}
.single-blog-area2 .single-button button{
  border:1px solid #a2a2a2;
  background-color: white;
  color: #3d3d3d;
  height: 30px;
  width: 100px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s;
}